/* font seting*/
@font-face {
  font-family: 'iconfont';
  src: url("iconfont.eot");
  /* IE9*/
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

/*common css*/
body {
  background-color: #fafafa;
  font-family: Georgia,'Helvetica Neue', 'Hiragino Sans GB', Helvetica, Arial, Sans-serif; }

a {
  text-decoration: none;
  cursor: auto; }

a:hover {
  text-decoration: underline; }

.container {
  max-width: 800px;
  min-width: 300px;
  background-color: #fff;
  margin: 20px auto;
  border: 1px solid rgba(0, 0, 0, 0.07);
  padding: 0 0 20px 0; }
  .container .weixin {
    display: none; }
  .container header {
    text-align: center; }
    .container header h1 {
      color: #333;
      font-weight: blod;
      font-size: 2em; }
    .container header nav {
      color: rgba(0, 0, 0, 0.6); }
      .container header nav a {
        color: rgba(0, 0, 0, 0.6);
        margin: 0 5px; }
      .container header nav a:hover {
        color: #333; }
  .container .content {
    margin: 20px auto;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    width: 88%;
    padding: 0 10px; }
    .container .content .title {
      text-align: center;
      margin: 30px 0 20px 0; }
      .container .content .title h1 {
        font-weight: normal; }
    .container .content .year {
      padding: 0 0px;
      text-align: right; }
    .container .content .article-list {
      padding: 0 0px;
      margin: 0;
      color: rgba(0, 0, 0, 0.6); }
      .container .content .article-list li {
        list-style: none;
        clear: both;
        margin: 20px 0; }
        .container .content .article-list li a {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.8);
          display: block; }
        .container .content .article-list li a:hover {
          text-decoration: underline; }

.markdown {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 2em;
  color: rgba(0, 0, 0, 0.8);
  word-wrap: break-word;
  display: block;
  overflow: hidden; }
  .markdown a {
    color: #4183c4;
    text-decoration: none; }
  .markdown a:hover, .markdown a:focus, .markdown a:active {
    text-decoration: underline; }
  .markdown hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd; }
  .markdown hr:before, .markdown hr:after {
    display: table;
    content: " "; }
  .markdown hr:after {
    clear: both; }
  .markdown blockquote {
    margin: 0; }
  .markdown ul, .markdown ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0; }
  .markdown ol ol {
    list-style-type: lower-roman; }
  .markdown dd {
    margin-left: 0; }
  .markdown code, .markdown pre {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px; }
  .markdown pre {
    margin-top: 0;
    margin-bottom: 0; }
  .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    line-height: 1.4; }
  .markdown h1 {
    padding-bottom: 0.3em;
    font-size: 1.3em;
    line-height: 1.2; }
  .markdown h2 {
    padding-bottom: 0.3em;
    font-size: 1.25em;
    line-height: 1.225; }
  .markdown h3 {
    font-size: 1.15em;
    line-height: 1.43; }
  .markdown h4 {
    font-size: 1.05em; }
  .markdown h5 {
    font-size: 1em; }
  .markdown h6 {
    font-size: 1em;
    color: #777; }
  .markdown p, .markdown blockquote, .markdown ul, .markdown ol, .markdown dl, .markdown table, .markdown pre {
    margin-top: 0;
    margin-bottom: 16px; }
  .markdown ul, .markdown ol {
    padding-left: 2em; }
  .markdown ol ol, .markdown ol ul, .markdown ul ul {
    margin-top: 0;
    margin-bottom: 0; }
  .markdown dl {
    padding: 0; }
  .markdown dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold; }
  .markdown dl dd {
    padding: 0 16px;
    margin-bottom: 16px; }
  .markdown blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
    font-size: 0.9em; }
  .markdown blockquote > :first_child {
    margin-top: 0; }
  .markdown blockquote > :last_child {
    margin-bottom: 0; }
  .markdown table {
    width: 100%;
    overflow: auto;
    text-align: center; }
  .markdown table th {
    font-weight: bold; }
  .markdown table th, .markdown table td {
    padding: 6px 13px;
    border: 1px solid #ddd; }
  .markdown table tr {
    background-color: #fff;
    border-top: 1px solid #ccc; }
  .markdown table tr:nth-child(2n) {
    background-color: #f8f8f8; }
  .markdown img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    page-break-inside: avoid;
    display: block;
    margin: 0 auto; }
  .markdown code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: #f7f7f7;
    border-radius: 3px; }
  .markdown code:before, .markdown code:after {
    letter-spacing: -0.2em;
    content: "\00a0"; }
  .markdown pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    white-space: pre;
    background: transparent;
    border: 0; }
  .markdown pre {
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    word-wrap: normal; }
  .markdown pre code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: noraml;
    background-color: transparent;
    border: 0; }
  .markdown pre code:before, .markdown pre code:after {
    content: normal; }

.about {
  margin: 40px auto; }

.book {
  margin: 0 auto;
  overflow: hidden;
  margin-top: 20px; }
  .book h3 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1em;
    margin-top: 20px; }
  .book ul {
    overflow: hidden;
    padding: 0 1em;
    margin: 0 auto; }
    .book ul li {
      width: 80px;
      height: 155px;
      list-style: none;
      float: left;
      padding: 2%;
      margin: 5px 0 0 5px; }
      .book ul li a {
        color: rgba(0, 0, 0, 0.6);
        text-align: center;
        font-size: 1em;
        line-height: 1em; }
        .book ul li a img {
          width: 100%;
          height: 103px;
          margin-bottom: 5px; }

footer {
  text-align: center;
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  margin-bottom: 10px; }
  footer a {
    color: rgba(0, 0, 0, 0.6); }

@media screen and (max-width: 361px) {
  .book ul {
    padding-left: 25px; }
    .book ul li {
      padding-left: 8%; } }

@media screen and (min-width: 600px) {
  .content small {
    float: right;
    margin-left: 15px;
    font-size: 16px; }
  .content .title h1 {
    font-size: 2em; } }

@media screen and (min-width: 1320px) {
  .container .pc_qrcode_outer {
    display: block !important;
    position: fixed;
    left: 0;
    right: 0;
    top: 20px;
    color: #717375;
    text-align: center; }
  .container .pc_qrcode_pc_inner {
    position: relative;
    width: 800px;
    margin-left: auto;
    margin-right: auto; }
  .container .qr_code_pc {
    position: absolute;
    right: -150px;
    top: 0;
    padding: 16px;
    border: 1px solid #d9dadc;
    background: #fff; }
    .container .qr_code_pc img {
      width: 102px; }
    .container .qr_code_pc p {
      font-size: 14px;
      line-height: 20px; }
  .container .back_top_outer {
    display: block !important;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 200px;
    color: #717375;
    text-align: center;
    background: red; }
    .container .back_top_outer .back_top_inner {
      position: relative;
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      background: yellow; }
      .container .back_top_outer .back_top_inner #back-top {
        position: absolute;
        right: -105px;
        top: 0; }
        .container .back_top_outer .back_top_inner #back-top a {
          width: 48px;
          display: block;
          text-align: center;
          text-decoration: none;
          color: #bbb;
          transition: 1s;
          -webkit-transition: 1s;
          -moz-transition: 1s; }
        .container .back_top_outer .back_top_inner #back-top a:hover {
          color: #fff; }
          .container .back_top_outer .back_top_inner #back-top a:hover span {
            background-color: #777; }
        .container .back_top_outer .back_top_inner #back-top span {
          width: 48px;
          height: 48px;
          display: block;
          margin-bottom: 7px;
          background: #ddd url(../img/up-arrow.png) no-repeat center center;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          border-radius: 15px;
          -webkit-transition: 1s;
          -moz-transition: 1s;
          transition: 1s; } }
