/* font seting*/
@font-face {
  font-family: 'iconfont';
  src: url("iconfont.eot");
  /* IE9*/
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

/*common css*/
body {
  background-color: #fafafa;
  font-family: Georgia,'Helvetica Neue', 'Hiragino Sans GB', Helvetica, Arial, Sans-serif; }

a {
  text-decoration: none;
  cursor: auto; }

a:hover {
  text-decoration: underline; }

.container {
  max-width: 800px;
  min-width: 300px;
  background-color: #fff;
  margin: 20px auto;
  border: 1px solid rgba(0, 0, 0, 0.07);
  padding: 0 0 20px 0; }
  .container header {
    text-align: center; }
    .container header h1 {
      color: #333;
      font-weight: blod;
      font-size: 2em; }
    .container header nav {
      color: rgba(0, 0, 0, 0.6); }
      .container header nav a {
        color: rgba(0, 0, 0, 0.6); }
      .container header nav a:hover {
        color: #333; }
  .container .content {
    margin: 20px auto;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    width: 85%;
    padding: 0 10px; }
    .container .content h3 {
      padding: 0 0px;
      text-align: right; }
    .container .content ul {
      padding: 0 0px;
      margin: 0;
      color: rgba(0, 0, 0, 0.6); }
    .container .content li {
      list-style: none;
      clear: both;
      margin: 20px 0; }
      .container .content li a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.8);
        display: block; }
      .container .content li a:hover {
        text-decoration: underline; }

footer {
  text-align: center;
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px; }
