<header>
    <h1>{{ site.nickname }}</h1>
    <nav>
        <a href="/">首页</a>
        /
        <a href="/">归档</a>
        /
        <a href="/">项目</a>
        /
        <a href="/">书单</a>
        /
        <a href="/">关于</a>
    </nav>
</header>




<!--         {% for page in site.pages %} -->
<!--           {% if page.title %} -->
<!--           <a class="page&#45;link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a> -->
<!--           {% endif %} -->
<!--         {% endfor %} -->
