
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-iconweibo:before { content: "\e603"; }
.icon-weibo:before { content: "\e63d"; }
.icon-wechat:before { content: "\e6ee"; }
.icon-wechat1:before { content: "\e60c"; }
.icon-github:before { content: "\e69f"; }
.icon-socialgithuboutline:before { content: "\e874"; }
.icon-twitter:before { content: "\e64f"; }
.icon-Twitter:before { content: "\f000e"; }
.icon-twitter1:before { content: "\e600"; }
.icon-dribblepure:before { content: "\e612"; }
.icon-instagram:before { content: "\e70f"; }
.icon-socialinstagramcircle:before { content: "\e742"; }
.icon-instagram1:before { content: "\e60f"; }
.icon-facebook:before { content: "\e602"; }
.icon-facebook1:before { content: "\e68a"; }
.icon-facebook3:before { content: "\e604"; }
.icon-qq:before { content: "\e616"; }
.icon-qq1:before { content: "\e696"; }
.icon-nullicesilhouetteicons64px0001s0016v2ex:before { content: "\e617"; }
.icon-ruby:before { content: "\e6b9"; }
.icon-nodejs:before { content: "\e6ba"; }
.icon-socialnodejs:before { content: "\e880"; }
.icon-iconfontqqkongjian:before { content: "\e61d"; }
.icon-qqzone:before { content: "\e688"; }
.icon-douban:before { content: "\e6f0"; }
.icon-douban1:before { content: "\e686"; }
.icon-zhihu:before { content: "\e6d1"; }
.icon-gmail:before { content: "\e667"; }
.icon-gmail1:before { content: "\e697"; }
