<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
    {% include header.html %}
    {{ content }}
      <div class="pc_qrcode_outer" style="display: none;">
                <div class="pc_qrcode_pc_inner">
                    <div class="qr_code_pc">
                      <img src="/img/qrcode.jpg" alt="">
                      <p>微信扫一扫<br>关注我的公众号</p>
                    </div>
                </div>
            </div>
            <div class="back_top_outer">
                <div class="back_top_inner">
                    <div id="back-top">
                        <a href="#top"><span></span></a>
                    </div>
                </div>
            </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>